@model IEnumerable<INET_Project.Models.ProductModel>


@{
    ViewData["Title"] = "Main_Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="CarouselSection"></section>

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:320px;width:100%" src="~/images/sample_images_1.jpg" class="img-responsive">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px;width:100%" src="~/images/sample_images_2.jpg" class="img-responsive">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px;width:100%" src="~/images/sample_images_3.jpg" class="img-responsive">
            <div class="carousel-caption">
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#themeSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only"> Previous</span>
    </a>
    <a class="right carousel-control" href="#themeSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section id="SearchSection"></section>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">


<div>
    <h3>Wyszukaj produkt</h3>
    <div class="form-inline">
        <form asp-controller="Home" asp-action="Main_Page" method="get">
            <input type="text" placeholder="Czego szukasz?" name="search" class="form-control" />
            <button type="submit" class="btn btn-outline-dark">
                <i class="fas fa-search"> Wyszukaj</i>
            </button>
        </form>
    </div>
</div>

<section id="ProductsSection"></section>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">

<div class="row">
    <div class="col-md-12">
        <div class="page-heade">
            <h3>Nasze produkty</h3>
            <table class="table">

                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.UnitPrice)
                        </th>
                        <th>

                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>

                                @if (item.ProductPicture.PicturePath != null)
                                {
                                    <img src="/@item.ProductPicture.PicturePath" width="150" height="150" style="border: 5px inset #343a40;">
                                }

                            </td>
                            <td style="vertical-align:middle">
                                @Html.DisplayFor(modelItem => item.Product.ProductName)
                            </td>
                            <td style="vertical-align:middle">
                                @Html.DisplayFor(modelItem => item.Product.UnitPrice) zł
                            </td>
                            <td style="vertical-align:middle">
                                <button type="button" style="" class="btn mr-md-2 mb-md-0 mb-2 btn-dark">Kup teraz</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@{
    var currentPage = (int)ViewBag.CurrentPage;
}


<div class="center">
    <div class="pagination">
        <div class="row">
            @if (currentPage > 1)
            {
                <a class="btn mr-md-2 mb-md-0 mb-2 btn-dark" asp-action="Main_Page" asp-route-page="@(currentPage-1)">Poprzednia strona</a>
            }
            <a class="btn mr-md-2 mb-md-0 mb-2 btn-dark" asp-action="Main_Page" asp-route-page="@(currentPage+1)">Następna strona</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel();
        });
    </script>
}
