@model INET_Project.Models.DemoProduct
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Dodawanie produktów</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Dashboard">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden id="file" name="file" formenctype="multipart/form-data" />
                <div class="dropzone dropzone-file-area" id="fileUpload">
                    <div class="dz-default dz-message">
                        <span>Przeciągnij albo dodaj zdjęcie produktu</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" id="submit-all" class="btn btn-dark btn-block"><i class="fa fa-plus-square"> Dodaj</i></button>
            </div>
        </form>
    </div>
</div>

<div>
    <h3>Lista produktów</h3>
    @if ((ViewBag.Products as List<DemoProduct>).Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Products as List<DemoProduct>)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <div class="thumbnail">
                                <img src="@Url.Content("/images/"+item.ProductImage)" alt="brak zdjęcia" class="img-thumbnail w-50" />
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-secondary" role="alert">
            <i>Brak produktów</i>
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        Dropzone.options.fileUpload = {
            url: '/Admin/Uploadfile',
            paramName: "file",
            autoProcessQueue: true,
            maxFilesize: 30,
            resizedWidth: 512,
            addRemoveLinks: true,
            maxFiles: 1,
            acceptedFiles: "image/jpeg,image/png,image/gif",
            init: function () {
                var submitButton = document.querySelector("#submit-all");
                var wrapperThis = this;

                submitButton.addEventListener("click", function () {
                    wrapperThis.processQueue();
                });

                this.on('sendimgmultiple', function (data, xhr, formData) {
                    formData.append("sth", $("#submit-all").val());
                });
            }
        };
    </script>
}