@model INET_Project.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    var products = INET_Project.Controllers.HomeController.Products;


    if (Context.Request.Query["item"].FirstOrDefault() != null)
    {
        string itemid = Context.Request.Query["item"].FirstOrDefault();
        products = products.Where(x => x.Product.ProductID == Convert.ToInt32(itemid)).ToList();
        INET_Project.Controllers.HomeController.Products = products;
    }

}


<div class="container-fluid">

    <h4>Edycja produktu</h4>
    <hr />

    @foreach (var item in products)
    {
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ProductName" class="control-label"></label>
                        <input asp-for="ProductName" placeholder="Aktualna nazwa: @Html.DisplayFor(modelItem => item.Product.ProductName)" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Brand" class="control-label"></label>
                        <input asp-for="Brand" placeholder="Aktualny brand: @Html.DisplayFor(modelItem => item.Product.Brand)" class="form-control" />
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UnitPrice" class="control-label"></label>
                        <input asp-for="UnitPrice" placeholder="Aktualna cena : @Html.DisplayFor(modelItem => item.Product.UnitPrice)" class="form-control" />
                        <span asp-validation-for="UnitPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="QtAvailable" class="control-label"></label>
                        <input asp-for="QtAvailable" placeholder="Ilość sztuk dostępnych: @Html.DisplayFor(modelItem => item.Product.QtAvailable)" class="form-control" />
                        <span asp-validation-for="QtAvailable" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProducerCode" class="control-label"></label>
                        <input asp-for="ProducerCode" placeholder="Aktualny kod producenta: @Html.DisplayFor(modelItem => item.Product.ProducerCode)" class="form-control" />
                        <span asp-validation-for="ProducerCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductDescription" class="control-label"></label>
                        <input asp-for="ProductDescription" placeholder="Aktualny opis produktu: @Html.DisplayFor(modelItem =>item.Product.ProductDescription)" class="form-control" />
                        <span asp-validation-for="ProductDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Zatwierdź edycję" class="btn mr-md-2 mb-md-0 mb-2 btn-dark" />
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        @if (item.ProductPicture.PicturePath != null)
                        {
                            <img src="/@item.ProductPicture.PicturePath" width="500" height="500" style="border: 3px inset #343a40;">
                        }
                    </div>
                </div>
            </div>
        </form>
    }
</div>
