@model IEnumerable<INET_Project.Models.ProductModel>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <h3>Lista produktów</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="page-heade">
                    <table class="table">

                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Product.ProductName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Product.UnitPrice)
                                </th>
                                <th>

                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>

                                        @if (item.ProductPicture.PicturePath != null)
                                        {
                                            <img src="/@item.ProductPicture.PicturePath" width="150" height="150" style="border: 4px inset #343a40;">
                                        }

                                    </td>
                                    <td style="vertical-align:middle">
                                        <a class="active">
                                            @Html.DisplayFor(modelItem => item.Product.ProductName)
                                        </a>
                                    </td>
                                    <td style="vertical-align:middle">
                                        @Html.DisplayFor(modelItem => item.Product.UnitPrice) zł
                                    </td>
                                    <td style="vertical-align:middle">
                                        <a class="btn mr-md-2 mb-md-0 mb-2 btn-dark" asp-action="Edit" asp-route-item="@item.Product.ProductID">Edycja</a>
                                            <a class="btn mr-md-2 mb-md-0 mb-2 btn-dark" asp-action="Delete" asp-route-item="@item.Product.ProductID">Usuń</a>
                                        <!---button type="button" style="" class="btn mr-md-2 mb-md-0 mb-2 btn-dark"><i class="fa fa-shopping-cart fa-lg"></i>+</button--->
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        Dropzone.options.fileUpload = {
            url: '/admin/ProductImage',
            paramName: "file",
            autoProcessQueue: true,
            maxFilesize: 30,
            resizedWidth: 512,
            addRemoveLinks: true,
            maxFiles: 1,
            acceptedFiles: "image/jpeg,image/png,image/gif",
            init: function () {
                var submitButton = document.querySelector("#submit-all");
                var wrapperThis = this;

                submitButton.addEventListener("click", function () {
                    wrapperThis.processQueue();
                });

                this.on('sendimgmultiple', function (data, xhr, formData) {
                    formData.append("sth", $("#submit-all").val());
                });
            }
        };
    </script>
}