@model INET_Project.Models.DemoProduct
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <h3>Lista produktów</h3>
    @if ((ViewBag.Products as List<DemoProduct>).Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Products as List<DemoProduct>)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <div class="thumbnail">
                                <img src="@Url.Content("/images/"+item.ProductImage)" alt="brak zdjęcia" class="img-thumbnail w-50" />
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-secondary" role="alert">
            <i>Brak produktów</i>
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        Dropzone.options.fileUpload = {
            url: '/admin/ProductImage',
            paramName: "file",
            autoProcessQueue: true,
            maxFilesize: 30,
            resizedWidth: 512,
            addRemoveLinks: true,
            maxFiles: 1,
            acceptedFiles: "image/jpeg,image/png,image/gif",
            init: function () {
                var submitButton = document.querySelector("#submit-all");
                var wrapperThis = this;

                submitButton.addEventListener("click", function () {
                    wrapperThis.processQueue();
                });

                this.on('sendimgmultiple', function (data, xhr, formData) {
                    formData.append("sth", $("#submit-all").val());
                });
            }
        };
    </script>
}